html {
  font-size: 62.5%;
}

.container {
  box-sizing: border-box;

  padding: 1rem;
  border-radius: 0.5rem;
  background: yellow;
  height: 40rem;
  width: 50rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  gap: 0.5rem;
}

header {
  text-align: center;
  margin-top: 5%;
  font-size: 3rem;
}

.field {
  border-radius: 0.5rem;
  background: blue;
  height: 12.5rem;
}

.players {
  display: none;
  width: 50rem;
  background: red;

  justify-content: space-between;
  margin: auto;
  margin-top: 2%;
}

.players h2 {
  font-size: 2rem;
}
.players span {
  color: burlywood;
}

.field {
  font-size: 10rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play--btn {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

button {
  background: blue;
  color: #fff;
  width: 10rem;
  height: 5rem;
  font-size: 2.5rem;
  border: 1px solid black;
  border-radius: 5px;
}

button:hover {
  color: blue;
  background: yellow;
  cursor: pointer;
}
