html {
  font-size: 62.5%;
}

body {
  background: #fff;
}

.container {
  box-sizing: border-box;
  padding: 1rem;
  padding-bottom: 0.8rem;
  border-radius: 0.5rem;
  background: yellow;
  height: 40rem;
  width: 50rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  gap: 0.5rem;
}

header {
  text-align: center;
  margin-top: 5%;
  font-size: 3rem;
}

.field {
  border-radius: 0.5rem;
  background: blue;
  height: 12rem;
}

.hover:hover {
  background: #0606b2;
}

.players {
  display: none;
  width: 50rem;
  justify-content: space-between;
  margin: auto;
  margin-top: 2%;
}

.players h2 {
  font-size: 2rem;
}
.players span {
  color: Blue;
}

.field {
  font-size: 10rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play--btn {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

button {
  background: blue;
  color: #fff;
  width: 10rem;
  height: 5rem;
  font-size: 2.5rem;
  border: 1px solid black;
  border-radius: 5px;
}

button:hover {
  color: blue;
  background: yellow;
  cursor: pointer;
}

.display--end {
  display: none;
  position: absolute;
  top: 25%;
  left: 36%;
  padding: 2rem;
}

.display--end div {
  position: absolute;
  top: 88%;
  left: 38%;
}

.display--end h1 {
  color: #fff;
  font-size: 6rem;
}
.display--end h1:hover {
  color: yellow;
}

.display--end span {
  color: red;
}
.results {
  font-size: 4rem;
  text-align: center;
  color: #fff;
}

.results span {
  color: red;
}

@media screen and (max-width: 992px) {
  .display--end {
    left: 28%;
  }
}

@media screen and (max-width: 750px) {
  .display--end {
    left: 20%;
  }
}

@media screen and (max-width: 750px) {
  .display--end {
    left: 15%;
  }
}
@media screen and (max-width: 525px) {
  .display--end h1 {
    font-size: 5rem;
  }
}
